<h1>Welcome, <span id="name"></span>!</h1>
<form>

<button type="button" class="btn btn-primary mb-2" name="viewall" id="viewall">View All Requests</button>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>amount</th>
            <th>author</th>
            <th>desc</th>
            <th>id</th>
            <th>recipt</th>
            <th>resolved</th>
            <th>resolver</th>
            <th>status</th>
            <th>statusId</th>
            <th>submitted</th>
            <th>type</th>
            <th>typeId</th>
        </tr>
    </thead>
    <tbody>
            <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
                <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">User Id</label>
    <div class="col-sm-10">
    <span id="staticEmail"></span>
<!--     <input type="text" class="form-control" id="staticEmail" placeholder=""> -->
      <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail"> -->
    </div>
  </div>

  <div class="form-group row">
    <label for="inputUsername" class="col-sm-2 col-form-label">username</label>
    <div class="col-sm-10">
        <span id="username"></span>
<!--     <input type="text" class="form-control" id="username" placeholder=""> -->
      <!-- <input type="text" readonly class="form-control-plaintext" id="username" placeholder=""> -->
    </div>
  </div>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    New Request
  </a>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    
    <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Amount</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="amount" placeholder="amount">
    </div>
  </div>

      <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="desc" placeholder="desc">
    </div>
  </div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Type</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose one</option>
    <option value="61009">Travel</option>
    <option value="77996">Business</option>
    <option value="17684">Medical</option>
    <option value="96996">Supplies</option>
    <option value="60955">Other</option>
  </select>

<button type="button" class="btn btn-primary mb-2" name="add" id="add">Add Requests</button>

  </div>
</div>


</form>